:root {
    --bg-color: #EEE5E9;
    --accent-color: #CF5C36;
    --primary-color: #EFC88B;
    --secondary-color: #7C7C7C;
    --font-color: #000000;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, div#content{
    height: 100vh;
    width: 100vw;
}

div#hero-content{
    height: 33%;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url('./assets/pho-img.jpg');
    color: var(--bg-color);
    background-size: cover;
    background-position: center;

    padding: 45px;
}

/* CTA Banner */

div.cta-banner{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

button.cta-btn{
    padding: 1.5rem;
    background-color: var(--accent-color);
    border: 1px solid var(--bg-color);
    border-radius: 15px;
    color: var(--bg-color);
    font-weight: bold;
    font-size: 1.25rem;
}

button.cta-btn:active{
    box-shadow: 2px 2px 2px 0 var(--font-color);
}

/*  Top Dishes Div */

div#top-dishes-content{
    height: 50vh;
    width: 100vw;
    background-color: var(--font-color);
    color: var(--bg-color);
    padding: 45px;
}

div#top-dishes-card-container{
    display: flex;
    flex-wrap: wrap;
}

div.top-dish-card{
    background-color: var(--primary-color);
    padding: 24px;
    border-radius: 20px;
    color: var(--font-color);
}

div.top-dish-img{
    height: 150px;
    width: 200px;
    background-image: url("./assets/pho-img.jpg");
    background-size: cover;
    background-position: center;
    margin: 10px 0;
}

div.top-dish-name{
    font-weight: bold;
    text-align: center;
}